# Secrets
.env
*.env
pgadmin-servers.json

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Node
node_modules/
dist/

# Docker volumes
postgres_data/

# IDE
.vscode/
.idea/.DS_Store
.idea/

# Claude
.claude/

#nginx
nginx/certs/
