# Secrets
.env
*.env
pgadmin-servers.json

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Node
node_modules/
dist/

# Docker volumes
postgres_data/

# IDE
.vscode/
.idea/.DS_Store
.idea/

# Claude
.claude/

#nginx
nginx/certs/

README.DevA.md
README.Guide.bdd.md
README.HTTPS.md
README.QstReponse.md
README.RefreshToken.md
README.Presentation.md
README.Security.md