# Web framework
fastapi==0.115.0
# framework web moderne, rapide et asynchrone pour construire des APIs en Python.
uvicorn[standard]==0.30.0
# serveur ASGI performant pour exécuter l'application FastAPI en production ou en développement.

# Lecture du .env
pydantic-settings==2.3.0
# gestion des configurations via des classes Pydantic, avec support natif pour les fichiers .env.


# Base de données
sqlalchemy==2.0.31
# ORM (Object-Relational Mapping) pour interagir avec la base de données de manière plus Pythonique.
asyncpg==0.29.0  
# pilote asynchrone pour PostgreSQL, utilisé par SQLAlchemy pour les opérations de base de données asynchrones.
alembic==1.13.2        
# outil de migration de base de données pour gérer les changements de schéma au fil du temps.


# Auth & Sécurité
bcrypt==4.0.1
# hashage sécurisé des mots de passe, utilisé pour stocker les mots de passe de manière sécurisée dans la base de données.
python-jose[cryptography]==3.3.0  
# gérer les JWT (JSON Web Tokens) pour l'authentification et la sécurisation des endpoints.
python-multipart==0.0.9  
# gestion des formulaires multipart (utile pour les uploads de fichiers ou les données de formulaire dans les requêtes).


# OAuth2
httpx==0.27.0    
# client HTTP asynchrone pour faire des requêtes vers les fournisseurs OAuth (Google, GitHub) lors de l'authentification.


# Validation
email-validator==2.2.0
# validation des adresses email, utilisé dans les modèles Pydantic pour s'assurer que les emails sont au bon format.