.topbar-placeholder {
    height: 60px;
    margin-bottom: 24px;
}

/*-- FILTRES--*/

.filters-container {
    background-color: #1e1e1e;
    border-radius: 24px;
    padding: 24px;
    margin-bottom: 32px;
}

.search-input-wrapper {
    position: relative;
    margin-bottom: 24px;
    max-width: 500px;
}

.search-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #8e8e93;
}

.playlist-search-input {
    width: 100%;
    background-color: #2c2c2e;
    border: none;
    border-radius: 20px;
    padding: 12px 16px 12px 40px;
    color: white;
    box-sizing: border-box;
    font-size: 0.95rem;
    outline: none;
}

.playlist-search-input::placeholder {
    color: #8e8e93;
}

.playlist-search-input:focus {
box-shadow: 0 0 0 1px #48484a;
}

.sort-controls {
    display: flex;
    align-items: center;
    gap: 16px;
}

.sort-label {
    font-size: 0.85rem;
    color:#8e8e93;
}

.sort-select {
    background-color: transparent;
    border: 1px solid #48484a;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 0.85rem;
    cursor: pointer;
    outline: none;
}

.sort-select:hover {
    border-color: white;
}

.sort-select option {
    background-color: #1e1e1e;
    color: white;
}

/*--Grille playlist--*/
.section-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 0 24px 0;
}

.playlist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 24px;
}

.static-card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 100%;
}

.static-cover {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    transition: transform 0.3s ease, background-color 0.2s;
}

.static-card:hover {
    transform: scale(1.05);
}

.create-cover {
    background-color: #1e1e1e;
    border: 1px solid #2c2c2e;
}

.static-card:hover .create-cover {
    background-color: #2c2c2e;
}

.plus-icon {
    font-size: 4rem;
    color: #8e8e93;
    font-weight: 100;
}

.favorites-cover {
    background: linear-gradient(135deg, #ff8a8a, #ff4b4b);
    box-shadow: 0 4px 12px rgba(255, 75, 75, 0.3);
}

.heart-icon {
    font-size: 3.5rem;
    color: white;
}

.static-title {
    margin: 0 0 4px 0;
    font-size: 0.9rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.static-meta {
    color: #8e8e93;
    margin: 0;
    font-size: 0.75rem;
}