* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px rgba(55, 53, 70, 0.98) inset !important;
  box-shadow: 0 0 0px 1000px rgba(55, 53, 70, 0.98) inset !important;
  -webkit-text-fill-color: #f2f3fb !important;
  background-color: rgba(55, 53, 70, 0.98) !important;
  transition: background-color 5000s ease-in-out 0s;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  background: #111114;
  color: #f2f3f8;
}



/*Palette de couleurs*/

/*Thème sombre :*/
:root {
  /* Couleurs de fond */
  --bg-main-start: #161515;
  --bg-main-end: #473838;

  --bg-card: #35313A;
  --bg-card-grad-start: rgba(55, 53, 70, 0.95);
  --bg-card-grad-end: rgba(108, 104, 120, 0.92);

  /* Textes */
  --text-primary: #ffffff;
  --text-soft: #E9E9E9;
  --text-muted: #b1b1b1;

  /* Couleurs d'accentuation */
  --accent-primary: #F49390;
  --accent-secondary: #f1a2a2;
  --accent-focus: #82bcff;

  /* Succès */
  --success-icon: #6ee7b7;
  --success-bg: rgba(16, 110, 86, 0.3);
  --success-border: rgba(16, 110, 86, 0.5);

  /* Erreur */
  --error-text: #ffd9dc;
  --error-icon: #f87171;
  --error-bg: rgba(103, 26, 31, 0.45);
  --error-border: rgba(255, 133, 133, 0.55);

  /* Utilitaires */
  --grad-rose-rgb: 196, 165, 181;
  --grad-gris-rgb: 153, 153, 153;
  --shadow-rgb: 0, 0, 0;

  --divider-color: rgba(255, 255, 255, 0.25);
  --input-border: rgba(232, 236, 248, 0.52);
  --input-bg-subtle: rgba(255, 255, 255, 0.07);
}

/* --- THEME CLAIR --- */
[data-theme="light"] {
  --bg-main-start: #f9f0f5;
  --bg-main-end: rgba(185, 148, 218, 0.65);

  --bg-card: rgb(219 213 225);
  --bg-card-grad-start: rgb(188 128 155 / 0.7);
  --bg-card-grad-end: rgb(132 105 192 / 0.75);

  --text-primary: #160e22;
  --text-soft: #2b1a35;
  --text-muted: #5c4468;

  --accent-primary: #c23535;
  --accent-secondary: #d45555;
  --accent-focus: #3868b0;

  --success-icon: #047857;
  --success-bg: rgba(4, 120, 87, 0.16);
  --success-border: rgba(4, 120, 87, 0.32);

  --error-text: #991b1b;
  --error-icon: #b91c1c;
  --error-bg: rgba(185, 28, 28, 0.14);
  --error-border: rgba(185, 28, 28, 0.30);

  --shadow-rgb: 22, 14, 34;
  --grad-rose-rgb: 218, 165, 188;
  --grad-gris-rgb: 198, 182, 215;

  --divider-color: rgba(22, 14, 34, 0.15);
  --input-border: rgba(22, 14, 34, 0.24);
  --input-bg-subtle: rgba(22, 14, 34, 0.06);
}